html, body, #map-canvas {
   height: 100%;
   margin: 0;
   padding: 0;
}

.infobox {
   font-family: Roboto;
   width: 200px;
}

.infobox h1, .infobox h2 {
   font-weight: normal;
   margin-top: 10px;
   margin-bottom: 10px;
}

.infobox h1 {
   font-size: 16pt;
}

.infobox h2 {
   font-size: 12pt;
   display: flex;
   padding-left: 15px;
}

.infobox h2 span:last-child {
   text-align: right;
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

.infobox h2 span:first-child {
   padding-left: 10px;
   border-left: 5px solid transparent;
   text-transform: capitalize;
}

.infobox h2.chris span:first-child {
   border-color: #72B3CC;
}

.infobox h2.mom span:first-child {
   border-color: #C75646;
}

.infobox h2.dad span:first-child {
   border-color: #8EB33B;
}

.infobox h2.nick span:first-child {
   border-color: #C8A0D1;
}
